body{
    background-color: rgb(234, 233, 233);
}


.home-main{
    height: 100vh;
    display: flex;

    
    
}

.home-section-1{
    width: 20%;
    height: 100%;
    position: fixed;
    top: 10%;
    left: 5%;
  
    
}
.home-section-2{
    width: 40%;
    height: 100%;
    position: absolute;
    left: 25%;
    top: 10%;
    
}
.home-section-3{
    width: 30%;
    height: 100%;
    position: fixed;
    right:5%;
    top: 10%;
    overflow: auto;


}



.home-profile-card{
    height: 35%;
    margin: 20px;
    border-radius: 10px;

}
.home-info-card{
    padding: 20px;
    margin: 20px;
    border-radius: 10px;

}

.home-addpost-section{
    height: 18%;
    margin: 20px;
    border-radius: 10px;

}


.home-post-section{
   
    margin: 20px;
    border-radius: 10px;

}

.home-recommed-section{
    height: 18%;
    margin: 20px;
   
    border-radius: 10px;
}

.home-scroll{
   width: 100%;
   height: 100%;
   overflow: auto;

}
.home-scrollbox{
    width: 100%;
    height: 100%;

}
::-webkit-scrollbar{
    width: 0px;
}

.addpost-popup{
    width: 100%;
  z-index: 10;
    background-color: rgba(0, 0, 0, 0.407);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
}


.post-info-section{
    display: flex;
   justify-content: space-between;
   padding: 10px;
   gap: 10px;

}
.post-inputs{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;


}
.image-preview{
   border: solid rgba(75, 75, 75, 0.214) 1px;
    width: 300px;
    height: 290px;
    margin: 10px;
    border-radius: 10px;
 
}

.hide {
    font-size: 4px;
    color: rgba(0, 0, 0, 0.442);
}