
.logo{
    position: fixed;
    right: 20px;
    top: 20px;
    width: 70px;
   }
   #register{
    background-image: url("../../../assets/bg3.jpeg");
    background-size:cover; 
    background-repeat: no-repeat;
    background-position: 0px -200px;
    margin: 30px;
    border-radius: 30px;
  
  
  }