.people-section-2{
    width: 70%;
    height: 72%;
    position: fixed;
    left: 25%;
    top: 13%;
    
}
.people-profile-nav{

    height: 50px;
    margin-right: 160px;

} 
.people-scroll{
    width: 100%;
    height: 100%;
    overflow: auto;
 
 }
 .people-scrollbox{
     width: 100%;
     height: 100%;
 
 }