.QAHxuJxRZWb3P_cbR8QA{
    background: rgb(255, 255, 255);


}

.z1WvYJgksHY23EwdFNB5 {
    background: white !important;
    border: solid 1px rgb(214, 214, 214);
}

.ji5jASszKFf2CGCmbxEh{
    background: rgb(213, 213, 213) !important;
    

}

.GBqD5akUB0siCNWbAPQr{
    background: rgb(57, 134, 57) !important;
    border: solid 1px rgb(214, 214, 214);
}

.n6GuqIk3cK3cSgL5gW1Z{
    color: green !important;
    background: white;
    border: solid 1px rgb(214, 214, 214);
    border-radius: 10px  10px 0px 0px;
}

.Z2PYS5vNVghY4m46zQQV{
    background: white;

    border: solid 1px rgb(214, 214, 214);
    border-radius: 0px  0px 10px 10px;
}

.hkGTFmd1GeMzMEf8vNW_{
    background: white;

   border: 1px 0px 1px 1px;
    border-radius: 0px  0px 10px 10px;
}

.z_Raef7MoQTTp7fHENMF .yZqd3D1to9HjAdrmztDe p{
    background-color: rgb(73, 155, 73) !important;
    color: white !important;
}

.xM8CBkrn0wtFOdOP84Bb input{
    background-color: white !important;
    color: gray !important;
    border: solid 1px rgb(214, 214, 214) !important;
}
.z_Raef7MoQTTp7fHENMF p{
    color: white;
    background: rgb(190, 190, 190) !important;
}

.xM8CBkrn0wtFOdOP84Bb button{
    background-color: green !important;
}
.C7PnSkxqD6bOXhZlRlcc{
    border: none !important;
    border-radius: 80px !important;
}
.n6GuqIk3cK3cSgL5gW1Z{
    border-bottom: none !important;
}
.qJdF_iTl1gv6JkFZmE2R .tQCB5Tj6hsWzMNzTg5og{
    background: green !important;
    border: none !important;
}
.Xfk1RtGH65gHx0iQ5uPA .GBqD5akUB0siCNWbAPQr>div{
    color: white !important;
}

.hkGTFmd1GeMzMEf8vNW_ .i8ct3MPKG0I8SA9qfu6m>span{
    background-color: rgba(182, 182, 182, 0.455) !important;
}
.dIzgYQV4CBbzZxzJbwbS{
    background: white !important;
}
.VsTVUAD89KWleD0YRVsD,.QajuHzlZleFtiTUp_E8u .VsTVUAD89KWleD0YRVsD{
    background: rgb(66, 153, 66) !important;
    font-size: 12px !important;
}